.c-team{
    margin-top: minv(64);
    display: grid;
    gap: minv(24);
    padding-inline: minv(24);

    &__title{
        font-size: minv(32);
    }

    &__subtitle{
        font-size: minv(24);
    }

    a{
        color: currentColor;
    }

    .c-profile{
        display: grid;

        &__image{
            width: minv(350);
        }

        &__name{
            font-size: minv(22);
            margin-top: minv(24);
        }
        &__role{
            letter-spacing: 1px;
            font-size: minv(12);
            text-transform: uppercase;
            margin-block: minv(4) minv(16);
        }


        &--wrapper{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: minv(24);
        }

    }
}